#!/bin/sh

# ***************************************************
# Author: Jonathan Steve Roland (josterand)
# Github: https://github.com/josterand
#
# This project is licensed under the MIT License.
# Copyright (c) 2024 Jonathan Steve Roland (josterand).
# For detailed terms and conditions, please refer to
# the LICENSE file included with this project.
# ***************************************************

# ==========[ WINDOW ASSIGNMENTS ]==========
bspc rule -a Google-chrome desktop=^1 follow=on

bspc rule -a Code desktop=^2 follow=on

bspc rule -a Alacritty desktop=^3 follow=on focus=on
